<h1>id: <%= @task.id %></h1>

<table class="table table-bordered">
  <tr>
    <th>id</th>
    <td><%= @task.id %></td>
  </tr>
  <tr>
    <th>task</th>
    <td><%= @task.content %></td>
  </tr>
  <tr>
    <th>status</th>
    <td><%= @task.status %></td>
  </tr>
</table>

<%= link_to 'edit this task', edit_task_path, class: 'btn btn-default' %>
<%= link_to 'delete this task', @task, method: :delete, class: 'btn btn-danger', data: { confirm: 'are you sure you want to delete task?'} %>
<!--<%= link_to 'back to list', tasks_path %>-->